<header class="header">
  <h1>Hello everyone!</h1>
</header>
<main>
  <h2>About me</h2>
  <section class="about">
    <div class="about__card">
      <img src="img/grazi.jpg" alt="profile" class="about__img" />
      <div class="about__text">
        <h3>I'm Graziele</h3>
        <p>
          Nice to meet you all! I'm 26 and I'm a chemical engineer. However,
          the last 6 months I've been studying how to code and I'm really
          into frontend development.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="hobbies">
      <h3>My hobbies</h3>
    </div>
    <div class="hobbies__container">
      <div class="hobbies__card">
        <img src="img/creativity.svg" alt="creativity image" class="hobbies_img" />
        <h4>Creativity</h4>
        <p>Drawing and embroidery</p>
      </div>
      <div class="hobbies__card">
        <img src="img/netflix.svg" alt="netflix image" class="hobbies_img" />
        <h4>I spend hours watching:</h4>
        <p>Movies and series</p>
      </div>
      <div class="hobbies__card">
        <img src="img/studying.svg" alt="study image" class="hobbies_img" />
        <h4>I speak</h4>
        <p>
          Portuguese, French, English...(Italian and Mandarim - I'm still a
          begginer)
        </p>
      </div>
      <div class="hobbies__card">
        <img src="img/traveling.svg" alt="travel image" class="hobbies_img" />
        <h4>Traveling around the world</h4>
        <p>I've been to 10 countries. Currently I'm in Porto Seguro-Bahia, Brazil</p>
      </div>
    </div>
  </section>
</main>
