<header class="header__pr">
  <h1>You can find my pull requests here</h1>
</header>
<section class="pr">
  <div class="pr__logParser">
    <h4>LogParser</h4>
    <div>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/log-parser-challenge/pull/1">Feature 1</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/log-parser-challenge/pull/2">Feature 2</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/log-parser-challenge/pull/3">Feature 3</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/log-parser-challenge/pull/4">Feature 4</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/log-parser-challenge/pull/5">Feature 5</a>
      </button>
    </div>
  </div>
  <div class="pr__sinatra">
    <h4>Sinatra</h4>
    <div>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/sinatra/pull/1">Hello Sinatra</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/sinatra/pull/2">Pages</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/sinatra/pull/3">Tests</a>
      </button>
      <button class="pr__btn">
        <a href="https://github.com/grazirs/sinatra/pull/4">Dynamic</a>
      </button>
    </div>
  </div>
</section>
