    <header class="header">
      <h1>My background</h1>
    </header>

    <section class="institutions">
      <h2>Institutions</h2>
      <div class="institutions__container">
        <div class="institutions__card">
          <img src="img/ifba.jpg" alt="IFBA logo" />
          <p>Biofuels Technician</p>
        </div>

        <div class="institutions__card">
          <img src="img/ufpb.jpg" alt="UFPB logo" />
          <p>Chemical Engineering - Bachelor</p>
        </div>

        <div class="institutions__card">
          <img src="img/insa.png" alt="INSA logo" />
          <p>Process and Environmental Engineering - Master</p>
        </div>
      </div>
    </section>
    <section class="projects__ic">
      <h2>Projects - IC</h2>
      <div class="projects">
        <div class="projects__text">
          <h4>2020 - 2021</h4>
          <p>Use of biopolymers for the production of hand sanitizer</p>
          <h4>2017 - 2018</h4>
          <p>Hydrocarbon production by hydrotreatment from Macaúca oil</p>
          <h4>2016 - 2017</h4>
          <p>Pyrolysis of Munguba oil to obtain aviation biokerosene</p>
          <h4>2015 - 2016</h4>
          <p>
            Evaluation of the hydrotreatment process of Castanhola for the
            production of Hydrocarbon
          </p>
        </div>
        <img src="img/lab.png" alt="laboratory photo" />
      </div>
    </section>
    <section class="projects__tcc">
      <h2>Final Paper - TCC</h2>
      <div class="projects">
        <img src="img/pilotH2.png" alt="hydrogen plant photo" />  
        <div class="projects__text">
          <h4>Pressure drop study of a degasser in H2 production</h4>
          <p>
            This work aimed to study the ventilation system of a degasser in the
            production of hydrogen at high pressure, defining a pressure drop
            profile of the system.
          </p>
          <p>
            Specific objectives: Carry out the pressure drop modeling of the degasser and the anti-mist/anti-dust
            filters, using the pressure drop moment correlations EI. Idel'cik.
            Identify the elements of greatest contribution that generate the
            pressure drop in the system. 
            Find a fan model that meets the
            technical requirements in terms of static pressure and explosive
            atmosphere zone (ATEX).
          </p>
        </div>
      </div>
    </section>

